body{
    width:100%;
    height:100%;
}
/* 最上方LOGO */
.logo{
    width:100%;
    height:140px;
    margin:0px auto;
    background-color: rgb(0, 0, 0);
   
}
.logo img{
    width:480px;
    height: 140px;
    margin-left: 400px;
}
/*表單標題*/
.form-title>img{
    margin: auto;
    margin-top: 50px;
    margin-left: 530px;
}
.form-title>h2{
    width:150px;
    margin-top: 50px;
    
}

/* 查詢內容 */
.group{
    width:100%;
    height:100%;
    border:1px solid;
}
#search-table{
    width:50%;
    height:50%;
    border:1px solid;
    margin: auto;
}
#search-table ul, li{
    list-style:none;
}
.input-group{
    width:350px;
    margin:20px auto;
}
.input-group h5{
    padding: 5px;
}
.input-group select{
	width:250px;
}
.input-group button{
	height:38px;
}
.navbar-top{
    width:350px;
    margin:20px auto;
    margin-left:100px;
}
.form-inline>button {
    margin:10px auto;
    position: relative;
}









