* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
	text-decoration: none !important;
}
table a:hover {
	color:#d9ecf2 !important;
}
body {
    font-family: "Open Sans", sans-serif;
    color: #50555a;
    padding:0px;
}
table {
	width:100%;
}
th {
    padding: 5px 10px;
    background-color: black;
    color: white;
	letter-spacing: 1px;
}
td {
    padding: 5px;
    border: 2px solid white;
}
button:focus {
	outline:none;
}
.odd {
    background-color: #e8e8e8;
}
.even {
    background-color: #bbbfca;
}
tbody tr:hover {
	background-color: #ffa45b;
}
input {
	text-align-last:center;
}
/* Tab */
.wrapper {
	padding-left: 40px;
    min-width: 900px;
    max-width: 90vw;
    margin: 0px auto 0px auto;
}
.tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
.tabs > li {
    transition-duration: 0.25s;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: rgba(134, 134, 134, 0.589);
    font-size: 1.5em;
    letter-spacing: 4px;
}
.tabs > li:before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition-duration: 0.25s;
    border-radius: 5px 5px 0 0;
}
.tabs > li:hover:before {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
}
.tabs > li.active {
    color: #50555a;
}
.tabs > li.active:before {
    transition-duration: 0.5s;
    background-color: #e8e8e8;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.tab__content {
    background-color: white;
    position: relative;
    width: 100%;
    border-radius: 5px;
}
.tab__content > li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none;
}
.tab__content > li .content__wrapper {
    text-align: center;
    border-radius: 5px;
    width: 100%;
    background-color: #e8e8e8;
}

.content__wrapper h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 300;
}

.content__wrapper {
    min-height: 80vh;
}
.table-wrapper {
	width: 100%;
    margin: 0 auto;
    padding: 10px; 
}
/* album and update*/
.text-color {
    color: #46a1de;
    transition-duration: 0.5s;
}
.update-form {
	position:relative;
	align-items: center;
	text-align:center;
	overflow:scroll;
	height:100%;
}
.update-form h3 {
	padding-top: 10px;
	color:black;
	text-shadow: 0px 0px 2px #e8e8e8;
	letter-spacing: 5px;
}
.update-form label {
	width:80%;
	padding-top:5px;
	font-size:16px;
	color:black;
	font-weight:500;
	letter-spacing:5px;
}
.update-form input,
.update-form select {
	width:80%;
    height: 35px;
    font-size: 16px;
    display: block;
    border-radius: 10px;
    border: 3px solid #363737;
    background-color:#e8e8e8;
    color:grey;
 	margin:0 auto;
}
.update-form input:focus,
.update-form select:focus {
	border: 3px solid #ffda77;
	background-color:white;
	color:black;
}
.update-form textarea {
	width: 100%;
    height: 200px;
    font-size: 14px;
    display: block;
    border-radius: 10px;
    color:grey;
    border: 5px solid #f4f4f2;
    margin-top: 5px;
    background-color: #e8e8e8;
}
.update-form textarea:focus {
    border: 5px solid #ffda77;
    background-color:white;
    color:black;
} 
.info-display,
.album-display,
.update-display {
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	width:70%;
	height:80%;
	background-color:white;
	border: 2px solid black;
	z-index:-99;
	opacity:0;
}
.album-showroom {
	width:100%;
	height:100%;
	border:none;
}
.display-show {
	z-index:99;
	opacity:1;
}
.display-show .close-icon {
	position:fixed;
	width:fit-content;
	z-index: 999;
	right:15px;
	top:10px;
}
.display-show .close-icon:hover {
	cursor:pointer;
	transform: scale(1.05);
}
button.update-data,
button.send-data {
	bottom:0px;
    width: 100%;
    height: 50px;
    background-color: #f4f4f2;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
	margin-top: 10px;
}
.update-data:hover,
.send-data:hover {
    background-color: gold;
}

.button-disabled {
	cursor:not-allowed;
}
/* INSERT */
.insert {
	position:relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 20px 10px;
    text-align:center;
}
.insert input,
.insert select {
   width: 100%;
    height: 30px;
    font-size: 14px;
    display: block;
    border-radius: 10px;
    border: 3px solid #babebe;
    text-align-last: center;
    background-color:#e8e8e8;
    color:grey;
}
.insert label {
	padding-top:10px;
	font-size:16px;
	color:black;
	font-weight:500;
	letter-spacing:5px;
}
.insert input:focus,
.insert select:focus {
    border: 3px solid #ffda77;
	background-color:white;
	color:black;
}
.insert textarea {
    width: 100%;
    height: 200px;
    font-size: 14px;
    display: block;
    border-radius: 10px;
    border: 3px solid #f4f4f2;
    margin-top: 5px;
}
.insert textarea:focus {
    border: 5px solid #495464;
    box-shadow: 0px 0px 10px white;
} 
.update-form .pic-upload,
.insert .pic-upload {
	align-self:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 61, 61);
    width: 300px;
    height: 40px;
    border: none;
    margin: 10px auto;
    border-radius: 10px;
    color: black;
}
.update-form .pic-upload:hover,
.insert .pic-upload:hover {
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
}
.update-form .pic-upload h6,
.insert .pic-upload h6 {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}
.update-form .pic-upload input,
.insert .pic-upload input {
    position: absolute;
    opacity: 1;
    width: 300px;
    height: 40px;
    padding: 5px;
    margin-bottom: 8px;
    opacity: 0;
}
.insert .icon {
    display: block;
    color: black;
    font-size: 24px;
    width: 20px;
    height: 20px;
    float:right;
    margin-right:20px;
}
.insert .icon:hover {
	text-shadow: 0px 2px 2px grey;
	cursor:pointer;
}
.insert .preview {
	height: 300px;
	width: 80%;
	border: 2px dotted #495464;
	margin: 0px auto;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: scroll;
	justify-content: center;
}
.insert .preview .previewImg {
	width: 200px;
	margin: 5px;
	border: 2px solid transparent;
}



