* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.black{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity: 0.7;
	z-index: 990;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #50555a;
}
table {
    margin: 10px;
}
th {
    padding: 5px 10px;
    background-color: black;
    color: white;
}
td {
    padding: 10px;
    border: 2px solid white;
}
.odd {
    background-color: #e8e8e8;
}
.even {
    background-color: #bbbfca;
}
.dataTables_length label{
	display:inline-flex;
	margin-top: 6px;
}
.dataTables_length select{
	margin: auto 5px;
}
#showmeal {
	width:96%;
	height:100%;
	border:none;
}
.showAllMeals,
.showAllMealType {
    width: fit-content;
    margin: 0 auto;
    padding: 30px 20px;
}
.text-color {
    color: #46a1de;
    transition-duration: 0.5s;
}
.pic-display{
	z-index: 999;
	visibility: hidden;
	display: flex;
}
.update-display {
	z-index: 995;
	visibility: hidden;
	display: flex;
	overflow: hidden;
}
.pic-display-div{
	z-index: 999;
	position: fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	width:69%;
	height:80%;
	background-color:white;
	border: 2px solid black;
	text-align:center;
	border-radius: 5px;
}
.pic-display-div img{
	border-radius: 10px;
	border: 2px solid;
}
.update-display-div {
	z-index: 999;
	position: fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	width:60%;
	height:100%;
	background-color:lightyellow;
	border: 2px solid black;
	text-align:center;
	border-radius: 5px;
}

.display-show {
	visibility: visible;
	z-index:1000;
}
.insert-meal,
.insert-meal-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    text-align: left;
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
}
.insert-meal input,
.update-display input,
.insert-meal-type input,
select {
    /* box-sizing: padding-box; */
    overflow: hidden;
    /* demo only: */
    width: 100%;
    height: 30px;
    font-size: 14px;
    display: block;
    border-radius: 10px;
    border: 3px solid #f4f4f2;
}
input:focus {
    border: 2px solid #495464;
    box-shadow: 0px 0px 10px white;
}
.update-display textarea,
.insert-meal-type textarea {
    width: 100%;
    height: 200px;
    font-size: 14px;
    display: block;
    border-radius: 10px;
    border: 3px solid #f4f4f2;
    margin-top: 5px;
}
.update-display textarea:focus,
.insert-meal-type textarea:focus {
    border: 5px solid #495464;
    box-shadow: 0px 0px 10px white;
} 
.insert-meal-type label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 60%;
}
.update-display label {
	display: flex;
    flex-direction: row;
    align-items: baseline;
    width:100%;
    padding: 0px 10px;
}
.update-display label p,
.insert-meal-type label p {
    width: 30%;
    height: fit-content;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
    letter-spacing: 2px;
}
.pic-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    width: 300px;
    height: 40px;
    border: none;
    margin: 20px 0px;
    border-radius: 10px;
    color: black;
}
.pic-upload:hover {
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
}
.pic-upload h6 {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}
.pic-upload input {
    position: absolute;
    opacity: 1;
    width: 300px;
    height: 40px;
    padding: 5px;
    margin-bottom: 8px;
    opacity: 0;
}
.icon {
    display: block;
    color: black;
    font-size: 24px;
    width: 20px;
    height: 20px;
    float:right;
    margin-right:20px;
}
.icon:hover {
	text-shadow: 0px 2px 2px grey;
	cursor:pointer;
}

.updateMealTypeData,
.sendMealTypeData {
	position:relative;
	bottom:0px;
    width: 100%;
    height: 50px;
    background-color: #f4f4f2;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
}

.updateMealTypeData:hover,
.sendMealTypeData:hover {
    background-color: pink;
}
/* Tab */
.wrapper,
.wrapper_meal,
.wrapper_order {
    min-width: 600px;
    max-width: 1800px;
    margin: 0px auto;
}

.tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
.tabs > li {
    transition-duration: 0.25s;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: rgba(134, 134, 134, 0.589);
    font-size: 1.5em;
    letter-spacing: 4px;
}
.tabs > li:before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition-duration: 0.25s;
    border-radius: 5px 5px 0 0;
}
.tabs > li:hover:before {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
}
.tabs > li.active {
    color: #50555a;
}
.tabs > li.active:before {
    transition-duration: 0.5s;
    background-color: #e8e8e8;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.tab__content {
    background-color: white;
    position: relative;
    width: 100%;
    border-radius: 5px;
}
.tab__content > li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none;
}
.tab__content > li .content__wrapper {
    text-align: center;
    border-radius: 5px;
    width: 100%;
    background-color: #e8e8e8;
}

.content__wrapper h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 300;
}

.content__wrapper {
    min-height: 80vh;
}
#dropbox {
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    width: 500px;
    height: 400px;
    margin: 0px auto;  
    visibility: hidden;
    z-index : -99;
}
#dropbox:hover {
	background-color: rgb(255, 150, 150);
}
.addMealPic {
	height:80vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.addMealPic div {
	width:fit-content;
	margin: 0 auto;
	padding: 20px
}

.addMealPic select {
	text-align-last:center;
}

.meal-manage {
    padding: 10px 0px;
}