/*----------------page-wrapper----------------*/
.page-wrapper {
    position: relative;
}

/*----------------sidebar-wrapper----------------*/
.sidebar-wrapper {
    height: 100%;
    width: fit-content;
    position: fixed;
    top: 0;
    z-index: 99;
}
.sidebar-wrapper:hover .sidebar-content {
    left: 50px;
    opacity: 1;
}
.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
    position: absolute;
    height: 100vh;
    width: 250px;
    padding-left: 10px;
    left: -240px;
    opacity: 0;
    background-color: #2a3750;
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow:scroll;
}
.sidebar-content_show {
    left: 50px;
    opacity: 1;
}
.sidebar-content.desktop {
    overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e2229;
    left: 0px;
    z-index: 99;
    height: 100vh;
    padding: 0px 5px 0px 10px;
    cursor: pointer;
}

.sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}
.sidebar-wrapper .sidebar-brand img {
    width: 40px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
    padding-top: 10px;
    width: 100%;
    z-index: 80;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid white;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    width: 60px;
}

.sidebar-wrapper .sidebar-header .user-info {
    display: flex;
    flex-direction: column;
}

.sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
    padding-top: 5px;
}

.sidebar-wrapper .sidebar-header .user-info .emp-title {
    font-size: 16px;
    padding-left: 10px;
    color: rgb(155, 155, 155);
}
.sidebar-wrapper .sidebar-header .user-info .emp-name {
    font-size: 18px;
    padding-left: 10px;
    font-weight: 400;
    color: whitesmoke;
}
.sidebar-wrapper .sidebar-header .user-info .emp-name:hover {
    color: white;
    cursor: pointer;
    text-shadow: 0px 2px 2px black;
}
.sidebar-wrapper .sidebar-header .user-info .user-status {
    padding-left: 10px;
    font-size: 14px;
    color: rgb(155, 155, 155);
	margin-bottom: 5px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}
.sidebar-wrapper .sidebar-header .emp-func {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	padding-right: 5px;
	margin: 10px 0px;
}
.sidebar-wrapper .sidebar-header .emp-func a.emp-logout{
	width:50%;
	color:black;
	background-color: white;
	padding:1px;
	font-size: 12px;
	margin:0px 2px;
}
.sidebar-wrapper .sidebar-header .emp-func a.emp-personal {
	width:50%;
	color:white;
	background-color: green;
	padding:1px;
	font-size: 12px;
	margin:0px 2px;
}
/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 16px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
    color: whitesmoke;
    letter-spacing: 2px;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    font-size: 15px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.sidebar-wrapper .sidebar-header .user-info .emp-title,
.sidebar-wrapper .sidebar-header .user-info .user-status,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-search,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-menu ul li a,
.sidebar-footer > a {
    color: #c2c2c2;
}

.sidebar-wrapper .sidebar-menu ul li:hover > a,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.sidebar-wrapper .sidebar-header .user-info,
.sidebar-wrapper .sidebar-brand > a:hover,
.sidebar-footer > a:hover i {
    color: #ffffff;
}

.sidebar-wrapper ul li:hover a i,
.sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

