@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
body,
.message,
.form,
form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
	font-family: 'Fraunces', serif;

}
.container {
    width: 350px;
    height: 400px;
    backdrop-filter: blur(5px);
    position: relative;
  /*  display: grid;*/
    grid-template: 100% / 50% 50%;
    box-shadow: 2px 2px 10px 0 rgba(51, 51, 51, 0.2);
}

.message {
    position: absolute;
    background: white;
    width: 50%;
    height: 100%;
    transition: 0.5s all ease;
    transform: translateX(100%);
    z-index: 4;
    background-image: url("");
}
.message:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 70%;
    background: #c3c3d8;
    opacity: 0;
    left: 0;
    top: 15%;
}
.message .button {
    margin: 5px 0;
}

.signup:before {
    opacity: 0.3;
    left: 0;
}

.login:before {
    opacity: 0.3;
    left: 100%;
}

.btn-wrapper {
    width: 60%;
}

.form {
    width: 100%;
    height: 100%;
}
.form--heading {
    font-size: 28px;
    height: 50px;
    color: #1a1a2e;
	text-shadow: 0px 0px 1px white;
}

form {
    width: 70%;
}
form > * {
    margin: 10px;
}
form input {
    width: 100%;
	height: 40px;
    border: 0;
    border-bottom: 1px solid #525252;
    font-size: 16px;
    font-weight: 300;
    color: black;
    letter-spacing: 0.11em;
	background-color: transparent;
	position: relative;
	text-align-last:center ;
}
form input::placeholder {
    color: #525252;
    font-size: 14px;
	position: absolute;
}
form input:focus {
    outline: 0;
    border-bottom: 2px solid black;
    transition: 0.6s all ease;
}

.button {
	border: 1px solid #525252;
	background-color:transparent;
    width: 100%;
    height: 40px;
    outline: 0;
    color: #525252;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    z-index: 3;
    letter-spacing: 2px;
    cursor: pointer;
	margin-top:20px;
	transition: 0.2s ease;
}
.button:hover {
	color: black;
	border: 1px solid black;
	background-color:white;
}

@media (max-width: 750px) {
    .container {
        transform: scale(0.8);
    }
}
