        body {
            width: 100%;
            height: 100%;
            background-image: url("<%=request.getContextPath()%>/img/activity/bg1.png");
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }
      
        #wrapper {
            width: 95%;
            height: 50%;    
            margin: 130px auto;
            position: relative;
            text-align: center;
        }
        #wrapper a{
            color:#F4E170;
        }
        #wrapper .land {
            width: 30%;
            height: 60%;
            float: left;
            margin-left: 20px;
        }

        #wrapper .sea {
            width: 30%;
            height: 80%;
            display: inline-block;
        }
        #wrapper .spc {
            width: 30%;
            height: 80%;
            float: right;
            margin-right: 20px;
        }
        #wrapper img {
            width: 380px;
            height: 280px;
            padding: 5px;
            border-radius: 20px;
            border: solid 2px;
            margin: 20px auto;
            position: relative;
        }
        #wrapper figcaption {
            width: 200px;
            height: 80px;
            text-align: center;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0);
            margin-left: 220px;
            font-size: 40px;
            color: #F4E170;
            transition: all 0.5s;
            font-family: Arial;
            /* border: solid 2px; */
            margin: 0px auto;
            margin-top: 100px;
            position: relative;
            opacity: 0;
        }
        #wrapper figure {
            margin: auto;
            width: 360px;
            height: 80px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 20px;
            margin-top: -300px;
        }
        #wrapper .land:hover figcaption {
            opacity: 1;
            cursor: pointer;
        }
        .land:hover img {
            opacity: 1;
            filter: brightness(1) saturate(1);
            transform: scale(1.05, 1.05);
            filter: brightness(0.5);
        }
        .land:hover figure {
            margin-top: -10px;
            position: relative;
            z-index: 1;
            transform: scale(1.05, 1.05);
        }
        #wrapper .sea:hover figcaption {
            opacity: 1;
            cursor: pointer;
        }

        .sea:hover img {
            opacity: 1;
            filter: brightness(1) saturate(1);
            transform: scale(1.05, 1.05);
            filter: brightness(0.5);
        }
        .sea:hover figure {
            margin-top: -70px;
            position: relative;
            z-index: 1;
            transform: scale(1.05, 1.05);
        }
        #wrapper .spc:hover figcaption {
            opacity: 1;
            cursor: pointer;
        }
        .spc:hover img {
            opacity: 1;
            filter: brightness(1) saturate(1);
            transform: scale(1.05, 1.05);
            filter: brightness(0.5);
        }
        .spc:hover figure {
            margin-top: -70px;
            position: relative;
            z-index: 1;
            transform: scale(1.05, 1.05);
        }