@charset "UTF-8";
#center-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#chat-circle {
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 999;
    background: transparent;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: white;
    padding: 28px;
    cursor: pointer;
}
#chat-circle i {
    font-size: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #dfa974;
}
#chat-circle:hover i {
    text-shadow: 0px 0px 8px grey;
}
.btn#my-btn {
    background: white;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 45px;
    padding-right: 40px;
    padding-left: 40px;
    color: #dfa974;
}
#chat-overlay {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}
.chat-box {
    display: none;
    background: transparent;
    backdrop-filter: blur(5px);
    position: fixed;
    right: 5px;
    bottom: 80px;
    width: 350px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 5px;
    /*   box-shadow: 0px 5px 35px 9px #464a92; */
    z-index: 999;
}
.chat-box-toggle {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
.chat-box-header {
    background: #dfa974;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
}
.chat-box-body {
    position: relative;
    height: 370px;
    height: auto;
    border-right: 1px solid white;
    border-left: 1px solid white;
    overflow: hidden;
}

#chat-input {
    background: #f4f7f9;
    width: 100%;
    position: relative;
    height: 47px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: none;
    resize: none;
    outline: none;
    border: 1px solid wthie;
    color: #888;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}
.chat-input > form {
    margin-bottom: 0;
}
#chat-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
}
#chat-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc;
}
#chat-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}
#chat-input:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc;
}
.chat-submit {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    color: #dfa974;
    width: 35px;
    height: 35px;
}
.chat-submit i {
    font-size: 20px;
}
.chat-logs {
    padding: 15px;
    height: 370px;
    overflow-y: scroll;
}

.chat-logs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar-thumb {
    background-color: #5a5eb9;
}

.chat-msg.emp > .msg-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}
.chat-msg.member > .msg-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: right;
}
.cm-msg-text {
    padding: 5px 15px;
    max-width: 200px;
    position: relative;
    margin-bottom: 20px;
    word-break: break-all;
}
.chat-msg.member > .cm-msg-text {
    float: right;
    background: #dfa974;
    color: white;
    border-radius: 10px 10px 0px 10px;
    margin-right: 10px;
}
.chat-msg.emp > .cm-msg-text {
    border-radius: 10px 10px 10px 0px;
    background: white;
    float: left;
    margin-left: 10px;
    color: #666;
}
.chat-msg {
    clear: both;
}
.cm-msg-button > ul > li {
    list-style: none;
    float: left;
    width: 50%;
}
.cm-msg-button {
    clear: both;
    margin-bottom: 70px;
}

@media only screen and (max-width: 500px) {
    .chat-logs {
        height: 40vh;
    }
}
