.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.form-container .field-container:nth-of-type(5) {
    grid-area: confirm;
}
.form-container .field-container:nth-of-type(6) {
    grid-area: cancel;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}

.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name""number number""expiration security""confirm confirm""cancel cancel";
    max-width: 400px;
    padding: 20px;
    color: #707070;
	margin:0 auto;
}

.form-container label {
    padding-bottom: 5px;
    font-size: 13px;
}

.form-container input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
#creditCard-input-view .preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

#creditCard-input-view .container {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

#ccsingle svg {
    width: 100px;
    max-height: 60px;
}

#creditCard-input-view .creditcard svg#cardfront,
#creditCard-input-view .creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard{
	margin-top: 10px;
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
}

/* CHANGEABLE CARD ELEMENTS */
#creditCard-input-view .creditcard .lightcolor,
#creditCard-input-view .creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

#creditCard-input-view .creditcard .lightblue {
    fill: #03A9F4;
}

#creditCard-input-view .creditcard .lightbluedark {
    fill: #0288D1;
}

#creditCard-input-view .creditcard .red {
    fill: #ef5350;
}

#creditCard-input-view .creditcard .reddark {
    fill: #d32f2f;
}

#creditCard-input-view .creditcard .purple {
    fill: #ab47bc;
}

#creditCard-input-view .creditcard .purpledark {
    fill: #7b1fa2;
}

#creditCard-input-view .creditcard .cyan {
    fill: #26c6da;
}

#creditCard-input-view .creditcard .cyandark {
    fill: #0097a7;
}

#creditCard-input-view .creditcard .green {
    fill: #66bb6a;
}

#creditCard-input-view .creditcard .greendark {
    fill: #388e3c;
}

#creditCard-input-view .creditcard .lime {
    fill: #d4e157;
}

#creditCard-input-view .creditcard .limedark {
    fill: #afb42b;
}

#creditCard-input-view .creditcard .yellow {
    fill: #ffeb3b;
}

#creditCard-input-view .creditcard .yellowdark {
    fill: #f9a825;
}

#creditCard-input-view .creditcard .orange {
    fill: #ff9800;
}

#creditCard-input-view .creditcard .orangedark {
    fill: #ef6c00;
}

#creditCard-input-view .creditcard .grey {
    fill: #bdbdbd;
}

#creditCard-input-view .creditcard .greydark {
    fill: #616161;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
#creditCard-input-view .container {
    perspective: 1000px;
}

#creditCard-input-view .creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}
#creditCard-input-view .creditcard .front,
#creditCard-input-view .creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

#creditCard-input-view .creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#creditCard-input-view .creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}