@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body {
	font-family: 'Noto Sans TC', sans-serif;
	background-image: url("../../img/bgimg.png");
	background-size: cover;
	background-position: right;
}
#onGoingBooking {
	text-align: center;
	padding: 5px 10px 10px 10px;
}
#onGoingBooking .booking-order {
	position: relative;
	margin-bottom: 50px;
	padding: 20px 20px 50px 20px;
	display:flex;
	flex-direction: row;
	align-items: center;
	background-color: #ffffff90;
	box-shadow: 0px 0px 3px grey;
}
#onGoingBooking .booking-order p.pkuptime {
	position: absolute;
	top:10px;
	left:50%;
	transform: translateX(-50%);
	font-size: 14px;
}
#onGoingBooking .booking-order h5.booking-number {
	position: absolute;
	right:10px;
	top:10px;
	font-size: 14px;
	font-family: 'Staatliches';
	letter-spacing: 1px;
}
#onGoingBooking .booking-order .booking-date {
	display:flex;
	flex-direction: column;
	min-width:200px;
	justify-content: center;
	letter-spacing: 1px;
	margin: 10px 20px 10px 0px;
	font-family: 'Staatliches';
}
#onGoingBooking .booking-order .booking-date span:nth-child(1){
	line-height: 45px;
	font-weight: 800;
	font-size: 56px;
	letter-spacing: 1px;
}
#onGoingBooking .booking-order .booking-date span:nth-child(2){
	color: goldenrod;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1;
}
#onGoingBooking .booking-order .booking-date span:nth-child(3){
	line-height: 1;
	font-weight: 600;
	font-size: 20px;
}
#onGoingBooking .booking-order .date-information img.booking-date-arrow-down {
	width: 25px;
    margin: 15px 0px;
    transform: translateX(-10px);
	filter:contrast(0.1);
}
#onGoingBooking .booking-order .room-pics {
	height:200px;
	max-width: 350px;
}
#onGoingBooking .booking-order .room-pics div {
	max-height: 200px;
	
}
#onGoingBooking .booking-order .room-pics img{
	max-height: 200px;
	padding:20px;
}
#onGoingBooking .booking-order .rooms {
	border-left: 2px solid grey;
}
#onGoingBooking .booking-order .room {
	display:flex;
	flex-direction: row;
	align-items: center;
}
#onGoingBooking .booking-details {
	font-family: 'Staatliches';
	min-height: 200px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding:20px 0px;
}
#onGoingBooking .booking-details p {
	margin:0;
	font-family: monospace;
	font-size: 14px;
}
#onGoingBooking .booking-details i {
    font-weight: 400;
	margin-right: 5px;
	width:20px;
	text-align: center;
}
#onGoingBooking .booking-details {
	font-family: 'Noto Sans TC', sans-serif;
}
#onGoingBooking .booking-order .buttons {
	position: absolute;
	right:10px;
	bottom:10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:60%;
}
#onGoingBooking .booking-order .buttons button {
	width:150px;
	padding:5px 10px;
	cursor:pointer;
	border:none;
	box-shadow: 0px 1px 1px grey;
	letter-spacing: 1px;
	font-size: 14px;
}
#onGoingBooking .booking-order .buttons button.cancel-order {
	background-color: #ff4646;
}
#onGoingBooking .booking-order .buttons button.check-order-detail {
	background-color: #0e918c;
}
#onGoingBooking .booking-order .buttons button.check-order-detail i {
	margin-right: 5px;
}
#onGoingBooking .booking-order .buttons button:hover {
	filter:saturate(0.8) brightness(1.2);
}
#onGoingBooking .no-booking {
	min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#onGoingBooking .no-booking h2 {
	padding:20px;
	border-top: 2px solid #e8e8e8;
 	border-bottom: 2px solid #e8e8e8;
	backdrop-filter: blur(5px);
	color: #bbbbbb;
	font-weight: 400;
	letter-spacing: 2px;
}
#onGoingBooking .no-booking a {
	color:#03506f
}
#onGoingBooking .no-booking a:hover {
	color: #008891;
}
/* 歷史紀錄 */
#bookingHistory {
	padding: 10px;
}
#history-table {
	width:100%;	
	font-family: 'Staatliches';
}
#history-table tr td:first-child span {
	font-size: 20px;
	font-weight: 200;
	margin: 0px 5px;
}
#history-table span.status-checked-in {
	color:#03506f;
	border: 1px solid #03506f;
	padding:1px 2px;
}
#history-table span.status-finished {
	color:#393e46;
	border: 1px solid #393e46;
	padding:1px 2px;
}
#history-table span.status-canceled {
	color:#f05454;
	border: 1px solid #f05454;
	padding:1px 2px;
}
#history-table tr th {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
}
#history-table tr th:nth-child(1){
	font-size: 18px;
	font-weight: 700;
	min-width: 200px;
	padding-left: 10px;
}
#history-table tr:nth-child(even) {
	background-color: #ffffff90;
}
#history-table tr:nth-child(odd) {
	background-color: #aaaaaa95;
}
#history-table tr td:nth-child(1) {
	font-size: 20px;
	font-weight: 400;
	padding-left: 10px;
}
#history-table tr td {
	padding:5px 0px;
}
#history-table tr td:last-child a{
	font-size: 12px;
	border: 1px solid black;
	padding: 1px 2px;
}
#history-table tr:nth-child(1){
	border-bottom: 1px solid grey;
	background-color: #ffffff;
	vertical-align: end;
}







