@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
/* 覆蓋MAIN CSS */
a:focus {
    color: black;
    
}
body {
	font-family: 'Noto Sans TC', sans-serif;
}
div.calendar-available {
	padding-top:20px;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100vw;	
	overflow:scroll;
	background-color: white;
	display:none;
}
div.show-calendar {
	display:block;
	z-index:99;
}
.menu-item .nav-menu .mainmenu .nav-event {
    text-shadow: 0px 0px 1px black;
}
.menu-item:hover {
    background-color: rgb(34, 39, 54);
}
/* booking icon */
.booking-now {
    position: fixed;
    left: -410px;
    bottom: 10%;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    width: 450px;
    height: 100px;
    background-color: #e6e6e6;
    overflow: hidden;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 50;
}
.booking-now div {
    overflow: hidden;
    position: fixed;
    left: 0px;
    padding: 0px 10px;
    background-color: #e6e6e6;
    z-index: 66;
}
.booking-now div img {
    height: 80px;
}
.booking-now:hover {
    left: -10px;
    cursor: pointer;
}
/* check-date */
#check-date {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    border-radius: 5px;
}
#check-date button {
    width: 320px;
    height: 60px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid black;
    letter-spacing: 5px;
    font-size: 16px;
}
#check-date button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
/* Room Detail */
.check-detail-arrow {
    transition: 0.5s linear;
}
.check-detail-arrow img {
    width: 20px;
    animation: arrowshake 1s ease-in-out alternate infinite;
    transition: 0.5s linear;
}
.arrow-flip {
    transform: rotate(180deg) scaleX(-1);
}
.check-detail-arrow img:hover {
    cursor: pointer;
}
@keyframes arrowshake {
    from {
        transform: translateY(-5%);
    }
    to {
        transform: translateY(5%);
    }
}
.room-detail-info {
    position: absolute;
    min-width: 60vw;
    min-height: 50vh;
    background-color: rgba(136, 136, 136, 0.705);
    top: -150%;
    z-index: 20;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 2.5s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    z-index: -1;
}
.room-detail-info_show {
    top: 110%;
    opacity: 1;
    z-index: 1;
}
.room-detail-info h1 {
	text-shadow: 0px 0px 2px white;
}
.room-detail-info h4 {
    color: white;
    font-weight: 800;
    letter-spacing: 5px;
    text-shadow: 0px 0px 1px white;
}
.room-detail-info h6 {
    display: inline-block;
    color: white;
    font-weight: normal;
    letter-spacing: 5px;
    text-shadow: 0px 0px 3px white;
}
.room-detail-info b {
    display: inline-block;
    color: whitesmoke;
    letter-spacing: 5px;
    text-decoration: 1.5px rgb(255, 208, 0) underline;
    text-underline-offset: 3px;
    
}
.room-detail-info p {
    text-align: left;
    text-indent: 20px;
    color: rgb(255, 254, 242);
}

/* Slide */
.cb-slideshow,
.cb-slideshow:after {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: "";
    background: transparent url(/CEA101G1/img/pattern.png) repeat top left;
}
.cb-slideshow li {
    list-style: none;
}
.cb-slideshow li span {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 24s linear infinite 0s;
    -moz-animation: imageAnimation 24s linear infinite 0s;
    -o-animation: imageAnimation 24s linear infinite 0s;
    -ms-animation: imageAnimation 24s linear infinite 0s;
    animation: imageAnimation 24s linear infinite 0s;
}
.cb-slideshow li span img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 120vh;
    
}
.cb-slideshow li:nth-child(2) span {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -moz-transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -o-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -o-transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}
@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -ms-transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}
@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    25% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}
/*tab*/
.et-hero-tabs h1,
.et-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
    text-shadow: 0px 0px 1px white;
}
.et-hero-tabs h3,
.et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}
.et-slide h6 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
    padding-top: 5px;
}
.et-slide .room-info {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 60vw;
    transform: translateX(-50%);
    z-index: 10;
}
.et-hero-tabs,
.et-slide {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
    padding: 0 2em;
    overflow:hidden;
}


.et-hero-tabs-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 11;
}
.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}

.et-hero-tab {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}
.et-hero-tab:hover {
    color: white;
    background: rgb(255, 196, 69);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: rgb(255, 196, 69);
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}
/* */
@media (min-width: 800px) {
    .et-hero-tabs h1,
    .et-slide h1 {
        font-size: 3rem;
    }
    .et-hero-tabs h3,
    .et-slide h3 {
        font-size: 1rem;
    }

    .et-hero-tab {
        font-size: 1rem;
    }
}
