*{
    box-sizing: border-box;
}

.menu-item {
	background-color: rgb(34, 39, 54);
}

#banner img {
  width: 100%;
}

.box-serv {
  margin: 0px auto; /*div對齊效果*/
  text-align: center; /*display: inline對齊效果*/
  display: inline-block;
}

.box-serv div {
  display: inline-block; /*讓div並排*/
  vertical-align: top; /*就算個個div行數不同，也一律向上對齊*/
  /* width: 300px; */
  /* border: 1px solid #ff0000; */
  /* border-radius: 3px; */
  margin: 5px;
  
}