* {
	box-sizing: border-box;
}

.menu-item {
	background-color: rgb(34, 39, 54);
}

#banner img {
	width: 100%;
}

.box-serv {
	margin: 0px auto; /*div對齊效果*/
	text-align: center; /*display: inline對齊效果*/
	display: inline-block;
}

.box-serv div {
	display: inline-block; /*讓div並排*/
	vertical-align: top; /*就算個個div行數不同，也一律向上對齊*/
	/* width: 300px; */
	/* border: 1px solid #ff0000; */
	/* border-radius: 3px; */
	margin: 5px;
}

.box-row {
	padding: 15px;
	background-color: rgb(221, 221, 221);
}

.spa-title {
	font-size: 20px;
}

.info-title {
	padding: 10px;
}

.info-title p {
	font-size: 18px;
}

.content-spa {
	padding: 10px;
}

.spa-info {
	text-align: justify;
}

.btn_price-spa {
	position: absolute;
	bottom: 10%;
	right: 2%;
	font-size: 20px;
	color: red;
}

.btn_price-spa div {
	display: inline-block;
}

.cart-content{
	visibility: hidden;
}

.cart-content-show{
	z-index: 999;
	display: flex;
	visibility: visible;
	position: fixed;
	top: 30%;
	left: 0px;
	right: 0px;
	margin: auto;
	max-width: 600px;
	max-height:500px;
	background-color: aliceblue;
}

.black{
	display: none;
	width: 100%;
	height: -webkit-fill-available;
	position: fixed;
	background-color: black;
	opacity: 0.8;
	z-index: 10;
}

.cart-table{
	
}

.tableWithClose{
	
}

.cart-content div{
	display:inline-block;
}

.window-checkout {
	
}

.table-checkout {
	text-align: center;
	border: solid 2px gray;
	border-collapse: inherit;
	border-radius: 9px;
	width:800px;
	margin-bottom: 30px;
	
}

.order-checkout {
	position: absolute;
	margin-top: 10%;
	margin-left: 20%;
	width: 900px;
}

.submit-checkout {
	
}
.checkout-button{
margin-left:69%;
}