
/*shopping detail*/
.shopping-cart {
    width: 830px;
    height: 450px;
    position: fixed;
    border: 1px solid;
    background-color: rgb(240, 232, 232);
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    visibility: hidden;
}
.close {
    margin-top: 5px;
    margin-bottom: auto;
    margin-right: 8px;
    margin-left: auto;
    cursor: pointer;
    font-size: 33px;
}
.shopping-cart-show {
    visibility: visible;
    z-index: 999;
}
.icon {
    font-size: 20px;
}
.priceborder {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 8px;
}
.subtotalprice {
    margin-right: 5px;
    margin-left: auto;
}
.pointdiscount {
    margin-right: 5px;
    margin-left: auto;
}
.totalprice {
    margin-right: 5px;
    margin-left: auto;
}
.cart-title {
    font-size: 28px;
}
.cart-item {
    display: flex;
    flex-direction: row;
    width: 480px;
    margin-left: 15px;
    border: 1px solid;
}
.cart-border{
	display: flex;
    flex-direction: column;
}
.cart-item-pic {
    margin-left: 7px;
    width: 40px;
    height: 54px;
}
.cart-item-name {
    margin-left: 10px;
    margin-top: 15px;
    width: 250px;
}
.nice-select {
    margin-top: 6px;
}
.cart-item-price {
    margin-top: 15px;
    margin-left: 3px;
}
.trash {
    font-size: 40px;
    margin-top: 6px;
    margin-left: 7px;
}
.trash:hover {
    cursor: pointer;
    opacity: 0.6;
}
.close :before {
    content: "���";
}
.subtotal {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: 20px;
}
.point {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: 20px;
}
.total {
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 25px;
}
/* .added-cart {
    width: 450px;
    height: 430px;
    background-color: pink;
    z-index: 99;
    margin-top: 0;
    margin-left: auto;
    margin-right: 0;
    position: fixed;
}
.added-cart-bor {
}
.added-cart-title {
} */
.itemtypeheader {
    width: 100vw;
    height: 70px;
    border: 1px solid rgb(235, 232, 232);
    margin-top: 0px;
    position: fixed;
    top: 60px;
    background-color: white;
}
.hideUp .itemtypeheader {
    top: 0;
}
#itemsmprice {
    float: right;
    margin-right: 13px;
    padding-top: 20px;
}
#itemadd {
    float: right;
    background-color: black;
    color: white;
    width: 120px;
    height: 50px;
    text-align: center;
 	border:none;
    margin-right: 8px;
    margin-top: 9px;
    border: sandybrown;
}
#itemadd:hover {
    background-color: rgb(202, 202, 202);
    color: black;
    cursor: pointer;
}
#itemtype {
    margin-top: 5px;
    margin-left: 40px;
    width: 320px;
    height: 60px;
    position: absolute;
}
#itemtypename {
    float: left;
    text-align: center;
    margin-top: 18px;
    text-transform: bold;
    margin-left: 8px;
}
.menu-item {
    z-index: 99;
}

.menu-item {
    position: fixed;
    width: 100vw;
    top: 0;
}
.hideUp .menu-item {
    top: -78px;
}
.sliderpics {
    height: 650px;
    width: 500px;
	
    margin-top: 0px;
    margin-left: 90px;
}
.item {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-top: 150px;
}

.iteminfo {
    width: 100%;
    height: 480px;
    border: 1px solid;
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    margin-right:10px;
}

.wrapper {
    margin-top: 0;
    height: 100%;
    width: 100%;
}

.picborder {
    width: 800px;
    height:550px;
}

#itemsmpic img{
    width: 30px;
    height: 50px;
    margin-top: 4px;
    float: left;
    margin-left: -5px;
}
.itempoints{
	margin-left:35px;
}
.itemtypeno {
    width: 350px;
    height: 15px;
    margin-left: 35px;
    margin-top: 30px;
}

.itemdename {
    width: 350px;
    margin-left: 35px;
    height: auto;
    font-size: 30px;
    margin-top: 10px;
}

.itemdeprice {
    width: 350px;
    margin-left: 35px;
    height: 20px;
    margin-top: 50px;
    font-size: 18px;
}
.itemaddtocart {
    width: 350px;
    margin-left: 35px;
    margin-top: 50px;
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    font-size: 20px;
    border: sandybrown;
}
.itemaddtocart:hover {
    background-color: rgb(202, 202, 202);
    color: black;
    cursor: pointer;
}
.picsize img{
    width: 100%;
    height: 100%;
}
.itemdede {
    width: 350px;
    height: auto;
    margin-top: 20px;
    margin-left: 35px;
    font-size: 20px;
}
.slick-next:before {
    content: "▶";
    color: gray;
    size: 50px;
}
.slick-next :hover {
    opacity: 0.9;
}
.slick-prev:before {
    content: "◀";
    color: gray;
    size: 50px;
}

.otheritemtitle {
    width: 100%;
    height: 80px;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
.itempic img{
	width:100%;
	height:100%;
}
.otheritemborder .row{
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
}
.titlename {
    text-align: center;
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
}
#recent {
    margin-left: 500px;
}
#recomm {
    margin-left: 47px;
}
#recent:hover {
    text-decoration: underline;
    cursor: pointer;
}
#recomm:hover {
    text-decoration: underline;
    cursor: pointer;
}
.otheritemborder {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
}
.itemre {
    margin-left: 30px;
    margin-bottom: 50px;
}
.itemre:hover {
    cursor: pointer;
}
.itemrepic {
    width: 380px;
    height: 350px;
    border: 1px solid;
}
.itemredetail {
    width: 400px;
    height: 30px;
    display: flex;
    flex-direction: column;
}
.itemredescribe {
}
.itemreprice {
    color: darkgray;
}
.menu-item .nav-menu .mainmenu{
	padding-right:0px;
}

.back {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 998;
    display: none;
    position: fixed;
}
.slick-dots{
	bottom:100px !important;
}

/* 閬�AIN CSS */
a:focus {
    color: black;
    
}
body {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.menu-item {
   background-color: rgb(34, 39, 54);
}
.menu-item .nav-menu .mainmenu li {
	max-height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	
}
.menu-item .nav-menu .mainmenu li a {
	font-size:12px;
	padding:0px;
}
.menu-item .nav-menu .mainmenu li a:after {
	top:110%;
}