/* 閬�AIN CSS */
a:focus {
    color: black;
    
}
body {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.menu-item {
   background-color: rgb(34, 39, 54);
}
.menu-item .nav-menu .mainmenu li {
	max-height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	
}
.menu-item .nav-menu .mainmenu li a {
	font-size:12px;
	padding:0px;
}
.menu-item .nav-menu .mainmenu li a:after {
	top:110%;
}
/* 閬�AIN CSS  */

.close {
    margin-top: 5px;
    margin-bottom: auto;
    margin-right: 8px;
    margin-left: auto;
    cursor: pointer;
    font-size: 33px;
}
/* .shopping-cart-show {
    visibility: visible;
    z-index: 99;
} */
.icon {
    font-size: 20px;
}
.priceborder {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 8px;
}
.subtotalprice {
    margin-right: 5px;
    margin-left: auto;
}
.pointdiscount {
    margin-right: 5px;
    margin-left: auto;
}
.totalprice {
    margin-right: 5px;
    margin-left: auto;
}
.cart-title {
    font-size: 28px;
}
.cart-item {
    display: flex;
    flex-direction: row;
    width: 480px;
    margin-left: 15px;
    border: 1px solid;
}
.cart-item-pic {
    margin-left: 7px;
    width: 40px;
    height: 54px;
}
.cart-item-name {
    margin-left: 10px;
    margin-top: 15px;
    width: 250px;
}
.nice-select {
    margin-top: 6px;
}
.cart-item-price {
    margin-top: 15px;
    margin-left: 3px;
}
.trash {
    font-size: 40px;
    margin-top: 6px;
    margin-left: 7px;
}
.trash:hover {
    cursor: pointer;
    opacity: 0.6;
}
.close :before {
    content: "✖";
}
.subtotal {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: 20px;
}
.point {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: 20px;
}
.total {
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 25px;
}
.shopping-cart {
    width: 830px;
    height: 450px;
    position: fixed;
    border: 1px solid;
    background-color: rgb(240, 232, 232);
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    visibility: hidden;
}
.back {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 998;
    display: none;
    position: fixed;
}
.close {
    margin-top: 5px;
    margin-bottom: auto;
    margin-right: 8px;
    margin-left: auto;
    cursor: pointer;
    font-size: 33px;
}
.shopping-cart-show {
    visibility: visible;
    z-index: 999;
}
.icon {
    font-size: 20px;
}
.priceborder {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 8px;
}
.subtotalprice {
    margin-right: 5px;
    margin-left: auto;
}
.pointdiscount {
    margin-right: 5px;
    margin-left: auto;
}
.totalprice {
    margin-right: 5px;
    margin-left: auto;
}
.cart-title {
    font-size: 28px;
}
.cart-item {
    display: flex;
    flex-direction: row;
    width: 480px;
    margin-left: 15px;
    border: 1px solid;
}
.cart-item-pic {
    margin-left: 7px;
    width: 40px;
    height: 54px;
}
.cart-item-name {
    margin-left: 10px;
    margin-top: 15px;
    width: 250px;
}
.nice-select {
    margin-top: 6px;
}
.cart-item-price {
    margin-top: 15px;
    margin-left: 3px;
}
.trash {
    font-size: 40px;
    margin-top: 6px;
    margin-left: 7px;
}
.trash:hover {
    cursor: pointer;
    opacity: 0.6;
}
.close :before {
    content: "���";
}
.subtotal {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: 20px;
}
.point {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: 20px;
}
.total {
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 25px;
}
.icon {
    font-size: 20px;
}
.pageslider {
    position: relative;
    margin-bottom: 10px;
}
.pageslider a {
	z-index: 2;
}
.pagepic:hover{
	cursor: pointer;
}
.menu-item {
    z-index: 99;
}
.pageheader {
	padding:140px 60px 20px 60px;
}
.pageheader .shopitem-section {
    height: 480px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.pageheader .pageslider img {
	max-width: 100%;
}
.shopitem {
    width: 100%;
    height: 475px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.itemdetail {
    width: 300px;
    float: flex;
    height: 70px;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
}
.pageheader .itemdetail-section {
    height: 70px;
    width: 100%;
    margin: 0px auto 5px 7px;
    display: flex;
    justify-content: space-around;
}

.wrapper .pageheader .itemdetail-section .itemdetail .itemdescribe {
    width: 100%;
    height: 40px;
    font-size: 100%;
    font-family: verdana;
    word-spacing: 3px;
    text-transform: uppercase;
    padding-top: 14px;
    line-height: -1px;
}
.itemprice {
    width: 100%;
    height: 15px;
    margin-top: 0px;
    color: darkgrey;
}
.itemtypeheader {
    width: 100vw;
    height: 70px;
    border: 1px solid rgb(235, 232, 232);
    margin-top: 0px;
    position: fixed;
    top: 60px;
    background-color: white;
}
.hideUp .itemtypeheader {
    top: 0;
}
#itemtype {
    margin-top: 5px;
    margin-left: 40px;
    width: 320px;
    height: 60px;
    position: absolute;
}
#itemtypename {
    float: left;
    text-align: center;
    margin-top: 18px;
    text-transform: bold;
    font-family:verdana;
    letter-spacing:3px;
}
#itemtypeno {
    float: right;
    text-align: center;
    margin-top: 18px;
    margin-right: 2px;
    color: darkgrey;
     font-family:verdana;
    letter-spacing:2px;
}
.itempic img{
    height: 320px;
    width: 300px;
}
.itemslider {
    height: 320px;
    width: 300px;
}
.itemPageInCart{
	width: 300px;
    background-color: #00000057;
    text-align: center;
    color: white;
    margin: 7px auto 0px auto;
}
.itemPageInCart:hover{
	background-color:black;
	cursor: pointer;
}
.col col-12 col-sm-6 col-md-4{
	height:500px;	
}
.container{
	height:500px;
}
.menu-item {
    position: fixed;
    width: 100vw;
}
.hideUp .menu-item {
    top: -78px;
}
.shopitem:hover {
    cursor: pointer;
}
.slick-next:before {
    content: "﹥";
    color: gray;
    margin-left: -70px;
    z-index: 11;
    background-color: white;
    opacity: 0;
    font-size: 36px;
    border: 1px solid;
    padding-bottom: 6px;
}
.slick-next:hover {
    opacity: 0.9;
}
.slick-prev:before {
  	content: "﹤";
    color: gray;
    z-index: 11;
    font-size: 36px;
    padding-bottom: 6px;
    background-color: white;
    opacity: 0;
    border: 1px solid;
    margin-left: 25px;
}
.slick-prev{
	z-index:11;
}
.itemslider:hover .slick-arrow:before {
	opacity: 1;
}
.itempic img:hover{
	.slick-prev:before,
	.slick-next:before {
	opacity: 1;
	}
} 
.chtype{
	font-size:25px;
	font-family:verdana;
	cursor: pointer;
    letter-spacing:3px;
}
.chtype:hover{
	cursor: pointer;
}
.itpic:hover{
	cursor: pointer;
}
.menu-item .nav-menu .mainmenu{
	padding-right:0px;
}

/* 購物車和頁面結帳*/
.shopCartTitle{
	margin-left:30px;
}
.shopCartBorder{
	position: absolute;
}
.imgframe img{
	width:200px;
	height:150px;
}
.imgframe img:hover{
	opacity:0.8;
	border: 2px solid lightgray;
}
.cartList{
	margin-left:55px;
	width:1100px;
}
.cartborderFi{
	margin:25px;
}
.addqty{
	    cursor: pointer;
}
.disqty{
	    cursor: pointer;
}
.cartItemName{
	display:flex;
	flex-direction: row;
	margin-top: -40px;
    font-size: 20px;

}
.priceItemCart{
	margin-top: -60px;
	margin-left: 200px;
}
.cartPrSi{
	 font-size: 20px;
}
.poCaSi{
	font-size: 13px;
}
.qIn{
	display: flex;
}
.quantity{
	width:35px;
}
.minusIn:hover{
	cursor:pointer;
}
.minusIn{
	size:10px;
	margin:2px;
}
.plusIn:hover{
	cursor:pointer;
}
.plusIn{
	size:10px;
	margin:2px;
}
.deOnIt{
	margin-top:10px;
}
.itBorTop{
	border-top:1px solid gray;
}
.deCheItem{
	margin-left:20px;
}
.goPay{
	width:180px;
	background-color: black;
	color:white;
	cursor: pointer;
	border: none;
	margin-left: 760px;
	float: right;
    margin-right: 15px;
}
#checkTotal{
	width: 100px;
}
.totalPriInCart{
	margin-left: 760px;
}
.goPay:hover{
	background-color: rgb(202, 202, 202);
    color: black;
    cursor: pointer;
}
.checkBor{
	border-top:solid 1px;
}
.itThBo{
	text-align: center;
}
.itTdBo{
	text-align: center;
	    padding: 20px;
}
#hitTocom{
	width: 100px;
    background-color: lightgrey;
    text-align: center;
    height: 26px;
    padding-top: 2px;
    border-radius: 5px;
}
/* 訂單瀏覽頁面 */
.shopOrderView{
	margin-top:50px;
	text-align: center;
}
.tablepart{
	margin-left: auto;
    margin-right: auto;
	width:900px;
}
.tabletitle{
	float:right;
}
.canBtn{
	width: 150px;
    background-color: #ff4d00;
    margin-left: 39px;
    border-radius: 8px;
}
.canBtn:hover{
	background-color:lightgrey;
}
.tablepart th,.tablepart td{
    	width: 230px;
    	text-align: center;
}
.borBeTQty{
	border-bottom: solid 1px lightgray;
}
#payment-info button.add-creditcard,
#payment-info button.leave-payment,
#payment-info button.admit-payment {
	width:350px; 
	height:50px;
	padding: 5px 0px;
    background-color: cadetblue;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
margin-bottom: 10px;
}
#payment-info button.leave-payment {
    background-color: crimson;
}
#payment-info button.add-creditcard {
    background-color: lightgray;
}
/* 結帳頁面 */
.paybtn{
	float: right;
    margin-right: 150px;
    margin-bottom: 30px;
    border: 1px solid;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
}
.paybtn:hover{
	background-color:lightgray;
	color:black;
}
/* 信用卡 */
