* {
    background-origin: border-box;
}

html,
body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
    color: #fff;
    cursor: pointer;
}
ul,
ol {
    padding: 0;
    margin: 0;
}
/* Preloder */
#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #ffffff;
}

.loader {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: rgba(0, 0, 0, 0);
    border-bottom: 4px rgb(250, 188, 19) solid;
    margin-top: -75px;
    margin-left: -75px;
    border-radius: 100%;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

#preloaderpic {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border-left-color: transparent;
    }
}
@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

/*---------------------
  Header
-----------------------*/
.menu-item .log-in {
    font-size: 20px;
    padding-left: 4px;
}
.header-section.header-normal .menu-item {
    -webkit-box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
    box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
}
.menu-item {
    height: 60px;
    position: fixed;
    width: 100vw;
    z-index: 9;
    background-color: transparent;
    transition: 0.1s linear;
}

.menu-item-hover {
    background-color: #222736;
}

.menu-item .logobox {
    padding: 10px 0px;
    height: 60px;
    text-align: center;
    display: inline-block;
}

.menu-item .logobox img {
    max-height: 100%;
}

.menu-item .logo a {
    display: inline-block;
}

.menu-item .nav-menu {
    text-align: left;
}
.menu-item .nav-menu .mainmenu .mainmenu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.menu-item .nav-menu .mainmenu li {
    width: 120px;
    list-style: none;
    display: inline-block;
    z-index: 1;
    text-align: center;
    list-style: none;
}

.menu-item .nav-menu .mainmenu li.active a:after {
    opacity: 1;
}

.menu-item .nav-menu .mainmenu li:hover > a:after {
    opacity: 1;
}

.menu-item .nav-menu .mainmenu li:hover .dropdown {
    top: 60px;
    opacity: 1;
    visibility: visible;
}
.menu-item .nav-menu .mainmenu li a {
    font-size: 15px;
    letter-spacing: 5px;
    color: white;
    margin: 0px auto;
    font-weight: 600;
    display: inline-block;
    z-index: 12;
    padding: 20px 0px 10px 0px;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s ease;
}

.menu-item .nav-menu .mainmenu li a:after {
    position: absolute;
    left: 0;
    top: 52px;
    width: 100%;
    height: 2px;
    z-index: 12;
    background: #dfa974;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s ease;
}

.menu-item .nav-menu .mainmenu li .dropdown {
    position: absolute;
    top: 100px;
    width: 120px;
    background: #ffffff;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
    box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
}

.menu-item .nav-menu .mainmenu li .dropdown li {
    list-style: none;
    display: block;
}

.menu-item .nav-menu .mainmenu li .dropdown li a {
    font-size: 16px;
    color: #19191a;
    display: block;
    text-align: center;
    padding: 8px 8px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-item .nav-menu .mainmenu li .dropdown li a:hover {
    color: #dfa974;
}

.menu-item .nav-menu .mainmenu li .dropdown li a:after {
    display: none;
}

.canvas-open {
    display: none;
}

.offcanvas-menu-wrapper {
    display: none;
}
i.offcanvs-log-in {
    display: none;
}

/*---------------------
 Datepicker UI 改動 待調整
-----------------------*/
/* .ui-datepicker {
    font-size: 22px;
}

.ui-datepicker a {
    color: transparent;
}

.ui-datepicker table {
    width: 100%;
}

Styling the Header Section
.ui-datepicker-title {
    font-size: 32px;
    color: #313131;
    text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.ui-datepicker-next span {
    visibility: hidden;
}

.ui-datepicker-prev span {
    visibility: hidden;
}

.ui-datepicker-next:after {
    content: "";
    color: #111111;
    position: absolute;
    left: 5px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    transform: rotate(-45deg);
}

.ui-datepicker-prev:after {
    content: "";
    color: #111111;
    position: absolute;
    left: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    transform: rotate(45deg);
}

.ui-datepicker-header .ui-state-disabled {
    visibility: hidden;
}

.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}
Styling the Dates
.ui-datepicker-calendar td a {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    vertical-align: center;
    margin: 5px auto;
}

.ui-state-default {
    display: block;
    color: #f26a63;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    width: 40px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background-color: transparent;
    border: none;
    text-align: center;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled :hover {
    background-color: none;
}
active day
a.ui-state-default:hover {
    background: #ffd82a;
    color: #ffffff;
    border-radius: 100%;
}

.ui-datepicker-calendar .ui-state-highlight {
    color: #f26a63;
    font-weight: bold;
}

.ui-datepicker-calendar .ui-state-active {
    background: #ffd82a;
    color: #ffffff;
    border-radius: 100%;
    position: relative;
} */

/*--------------------------------OFFCANVAS RWD --------------------------------*/
@media only screen and (max-width: 766px) {
    .menu-item .nav-menu .mainmenu li {
        display: none;
    }
    i.offcanvs-log-in {
        position: fixed;
        right: 16px;
        top: 16px;
        font-size: 32px;
        z-index: 99;
        color: white;
        cursor: pointer;
        display: block;
    }
    
    .offcanvas-menu-overlay.active {
        visibility: visible;
    }
    .canvas-open {
        position: fixed;
        left: 20px;
        top: 10px;
        font-size: 40px;
        width: 30px;
        height: 30px;
        color: #ffffff;
        border-radius: 2px;
        line-height: 33px;
        text-align: center;
        z-index: 100;
        display: block;
        cursor: pointer;
    }
    .offcanvas-menu-wrapper {
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        z-index: 999;
        background: #ffffff;
        text-align: center;
        overflow-y: auto;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        padding: 80px 30px 30px 30px;
        display: block;
    }
    .offcanvas-menu-wrapper .canvas-close {
        height: 30px;
        width: 30px;
        border: 1px solid #19191a;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 30px;
        padding-right: 1px;
    }
    .offcanvas-menu-wrapper .header-configure-area {
        margin-bottom: 30px;
    }
    .offcanvas-menu-wrapper .header-configure-area .language-option {
        display: inline-block;
        cursor: pointer;
        padding: 13px 0;
        position: relative;
        margin-bottom: 10px;
    }
    .offcanvas-menu-wrapper .header-configure-area .language-option:hover .flag-dropdown {
        top: 40px;
        opacity: 1;
        visibility: visible;
    }
    .offcanvas-menu-wrapper .header-configure-area .language-option img {
        height: 26px;
        width: 26px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .offcanvas-menu-wrapper .header-configure-area .language-option span {
        font-size: 16px;
        color: #19191a;
        text-transform: uppercase;
        font-weight: 500;
    }
    .offcanvas-menu-wrapper .header-configure-area .language-option .flag-dropdown {
        position: absolute;
        left: 0;
        top: 60px;
        width: 100px;
        background: #ffffff;
        display: block;
        padding: 10px 15px;
        -webkit-box-shadow: 0px 9px 10px rgba(25, 25, 26, 0.2);
        box-shadow: 0px 9px 10px rgba(25, 25, 26, 0.2);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 99;
    }
    .offcanvas-menu-wrapper .header-configure-area .language-option .flag-dropdown ul li {
        list-style: none;
        text-align: left;
    }
    .offcanvas-menu-wrapper .header-configure-area .language-option .flag-dropdown ul li a {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #19191a;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .offcanvas-menu-wrapper .header-configure-area .language-option .flag-dropdown ul li a:hover {
        color: #dfa974;
    }
    .offcanvas-menu-wrapper .header-configure-area .bk-btn {
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        padding: 16px 28px 15px;
        background: #dfa974;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .offcanvas-menu-wrapper .mainmenu {
        display: none;
    }
    .offcanvas-menu-wrapper .slicknav_menu {
        background: transparent;
        padding: 0;
    }
    .offcanvas-menu-wrapper .slicknav_menu .slicknav_btn {
        float: none;
        margin: 0 0 10px 0;
        display: none;
    }
    .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav {
        display: block !important;
    }
    .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul {
        margin: 0;
        text-align: left;
    }
    .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li .dropdown {
        padding-left: 20px;
    }
    .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li a {
        margin: 0;
        padding: 10px;
        font-weight: 600;
        font-size: 14px;
        color: #19191a;
        border-bottom: 1px solid #e5e5e5;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li a:hover {
        border-radius: 0;
        background: transparent;
        color: #dfa974;
    }
    .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row a {
        border-bottom: 0;
        padding-left: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row span {
        color: #19191a;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row:hover a {
        color: #dfa974;
    }
    .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row:hover span {
        color: #dfa974;
    }
    .offcanvas-menu-wrapper .top-social {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .offcanvas-menu-wrapper .top-social a {
        display: inline-block;
        font-size: 16px;
        color: #19191a;
        margin-right: 20px;
    }
    .offcanvas-menu-wrapper .top-social a:last-child {
        margin-right: 0;
    }
    .offcanvas-menu-wrapper .top-widget li {
        list-style: none;
        font-size: 16px;
        color: #19191a;
        font-weight: 500;
        line-height: 28px;
    }
    .offcanvas-menu-wrapper .top-widget li i {
        color: #dfa974;
        margin-right: 4px;
    }
    .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    .about-pic img {
        margin-bottom: 20px;
    }
}
