<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>CEA101G1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>setCharacterEncoding</filter-name>
		<filter-class>filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<filter>
		<filter-name>MemberFilter</filter-name>
		<filter-class>filters.MemberFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MemberFilter</filter-name>
		<url-pattern>/frontend/members/*</url-pattern>
		<url-pattern>/shoppingCheckOut/*</url-pattern>
		<url-pattern>/bookingCheckOut/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	
	
	<filter>
		<filter-name>GuestFilter</filter-name>
		<filter-class>filters.GuestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GuestFilter</filter-name>
		<url-pattern>/guestService/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping> 
	
	 <filter>
      <filter-name>EmpLoginFilter</filter-name>
      <filter-class>filters.EmpLoginFilter</filter-class>
  	 </filter>

    <filter-mapping>
      <filter-name>EmpLoginFilter</filter-name>
      <url-pattern>/backend/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>FORWARD</dispatcher>
      <dispatcher>INCLUDE</dispatcher>
      <dispatcher>ERROR</dispatcher>
      <dispatcher>ASYNC</dispatcher>
    </filter-mapping>

	<filter>
      <filter-name>EmpAuthFilter</filter-name>
      <filter-class>filters.EmpAuthFilter</filter-class>
  	 </filter>
    <filter-mapping>
      <filter-name>EmpAuthFilter</filter-name>
      <url-pattern>/backend/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>FORWARD</dispatcher>
      <dispatcher>INCLUDE</dispatcher>
      <dispatcher>ERROR</dispatcher>
      <dispatcher>ASYNC</dispatcher>
    </filter-mapping>


     <servlet>
       <servlet-name>DeptServlet</servlet-name>
       <servlet-class>com.dept.controller.DeptServlet</servlet-class>
     </servlet>
     <servlet-mapping>
       <servlet-name>DeptServlet</servlet-name>
       <url-pattern>/dept/dept.do</url-pattern>
     </servlet-mapping>
     <servlet>
        <servlet-name>FuncServlet</servlet-name>
        <servlet-class>com.func.controller.FuncServlet</servlet-class>
     </servlet>
     <servlet-mapping>
        <servlet-name>FuncServlet</servlet-name>
        <url-pattern>/func/func.do</url-pattern>
        </servlet-mapping>
     <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.auth.controller.AuthServlet</servlet-class>
     </servlet>
     <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth/auth.do</url-pattern>
     </servlet-mapping>
     <servlet>
        <servlet-name>TitleServlet</servlet-name>
        <servlet-class>com.title.controller.TitleServlet</servlet-class>
     </servlet>
     <servlet-mapping>
        <servlet-name>TitleServlet</servlet-name>
        <url-pattern>/title/title.do</url-pattern>
     </servlet-mapping>
     <servlet>
        <servlet-name>EmpServlet</servlet-name>
        <servlet-class>com.emp.controller.EmpServlet</servlet-class>
     </servlet>
    <servlet-mapping>
        <servlet-name>EmpServlet</servlet-name>
        <url-pattern>/emp/emp.do</url-pattern>
    </servlet-mapping>
         <servlet>
        <servlet-name>EmpLogin</servlet-name>
        <servlet-class>com.emp.controller.EmpLogin</servlet-class>
     </servlet>
    <servlet-mapping>
        <servlet-name>EmpLogin</servlet-name>
        <url-pattern>/emp/login.do</url-pattern>
    </servlet-mapping> 
	<servlet>
		<servlet-name>ActTypeServlet</servlet-name>
		<servlet-class>com.acttype.controller.ActTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActTypeServlet</servlet-name>
		<url-pattern>/acttype/ActTypeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActEventServlet</servlet-name>
		<servlet-class>com.actevent.controller.ActEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActEventServlet</servlet-name>
		<url-pattern>/actevent/ActEventServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActServlet</servlet-name>
		<servlet-class>com.act.controller.ActServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActServlet</servlet-name>
		<url-pattern>/ActServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActReserveServlet</servlet-name>
		<servlet-class>com.actreserve.controller.ActReserveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActReserveServlet</servlet-name>
		<url-pattern>/ActReserveServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActOrderServlet</servlet-name>
		<servlet-class>com.actorder.controller.ActOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActOrderServlet</servlet-name>
		<url-pattern>/actorder/ActOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MealServlet</servlet-name>
		<servlet-class>com.meal.controller.MealServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MealServlet</servlet-name>
		<url-pattern>/MealServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MealTypeServlet</servlet-name>
		<servlet-class>com.mealtype.controller.MealTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MealTypeServlet</servlet-name>
		<url-pattern>/MealTypeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MealOrderDetailServlet</servlet-name>
		<servlet-class>com.mealorderdetail.controller.MealOrderDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MealOrderDetailServlet</servlet-name>
		<url-pattern>/MealOrderDetailServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MealOrderServlet</servlet-name>
		<servlet-class>com.mealorder.controller.MealOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MealOrderServlet</servlet-name>
		<url-pattern>/MealOrderServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddToCartServlet</servlet-name>
		<servlet-class>com.cart.controller.AddToCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddToCartServlet</servlet-name>
		<url-pattern>/AddToCartServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ItemServlet</servlet-name>
		<servlet-class>com.item.controller.ItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemServlet</servlet-name>
		<url-pattern>/item/item.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Item_picsServlet</servlet-name>
		<servlet-class>com.item_pics.controller.Item_picsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Item_picsServlet</servlet-name>
		<url-pattern>/item_pics/item_pics.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Item_typeServlet</servlet-name>
		<servlet-class>com.item_type.controller.Item_typeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Item_typeServlet</servlet-name>
		<url-pattern>/item_type/item_type.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Shop_orderServlet</servlet-name>
		<servlet-class>com.shop_order.controller.Shop_orderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shop_orderServlet</servlet-name>
		<url-pattern>/shop_order/shop_order.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Shop_order_detailServlet</servlet-name>
		<servlet-class>com.shop_order_detail.controller.Shop_order_detailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shop_order_detailServlet</servlet-name>
		<url-pattern>/shop_order_detail/shop_order_detail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<servlet-class>com.shoppingCart.controller.ShoppingCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<url-pattern>/shop/shoppingCart.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShoppingCartRedisServlet</servlet-name>
		<servlet-class>com.shoppingCart.controller.ShoppingCartRedisServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingCartRedisServlet</servlet-name>
		<url-pattern>/shop/shoppingRedisCart.do</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ChangingServlet</servlet-name>
		<servlet-class>com.shoppingCart.controller.ChangingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangingServlet</servlet-name>
		<url-pattern>/shop/changingServlet.do</url-pattern>
	</servlet-mapping>
</web-app>